<%- include('templates/header'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/educacion.css">
    <title>Eduacion</title>
</head>
<body>
    <br><br><br><br><br>
    <center><h1>Educación</h1></center>
        <br>
    <div class="cole"> 
        <h2><img class="colegio" src="./static/img/colegio.png" alt=""><br> Educación primaria y secundaria</h2>
        <br>
        <p>Colegio Claretiano de Bosa JT</p>
        <p>2012 - 2021</p>
    </div>
    <br>
    <div class="sena">
        <h2><img class="senas" src="./static/img/sena.png" alt=""><br> Educación Complementaria</h2>
        <p>SENA Técnico en Programación de software</p>
        <p>2020 - 2021</p>
        <br>
        <p>SENA Tecnólogo en Análisis y Desarrollo de Sistemas de Información</p>
        <p>Cursadon Actualmente</p>
    </div>
    <br>
    <div class="cursos">
        <h2><img class="curso" src="./static/img/sena.png" alt="">Cursos ofimáticos y de interés</h2>
        <p>SENA Manejo de herramientas Microsoft office: Word</p>
        <p>2019</p>
        <br>
        <p>SENA Sistema de gestión de la seguridad y salud en el trabajo</p>
        <p>2022</p>
    </div>
    <br>
    <div class="ingles">
        <h2><img class="ingle" src="./static/img/ingles.png" alt="">Curso de Ingles</h2>
        <p>Educación en Línea Ingles</p>
        <p> A2-Elemental</p>
    </div>
<br><br><br><br>

    <%- include('templates/footer'); %> 
</body>
</html>