<%- include('templates/header'); %>
  


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">

    <title>Portafolio Julian Sanchez</title>
</head>
<body>
    <br><br><br>
    <div class="banner">
        <div>
            <h2 class="banner-title">Julian David Sanchez Rodriguez</h2>
            <p class="banner-desc">Hoja de Vida</p>
            <p class="banner-desc">"No se puede tener un gran software sin un gran equipo" </p>
        </div>
        <button class="btn-signup" type="button" onclick="location.href='/perfil'">
               Ver Perfil »
        </button>
    </div>
    
</div>
<br>


<div class="logros">
    <center>
        <p>Logros</p>
    </center> 
    <div id="main" class="resto_pag">
    
        <div class="AdminAccionDiv">
    
            <div class="AdminAccion">
                <a href=""><h4>Tecnico en Programación Software</h4>
                    <br>
                   <br><p>2020-2021 Sena</p>
                </a>
            </div>
            
         <div class="AdminAccion">
             <a href="#"><h4>Bachiller Academico</h4>
                <br>
                <br><p>Colegio Claretiano</p>
             </a>
         </div>
        </div>
    </div>
</div>

<br>
<div class="hist">
    <center><h1>Mi historia</h1></center>
    <br>
    <img class="yo" src="./static/img/yo.jpeg" alt=""><br><br><br>
    <p>Soy Julian Sanchez, tengo 17 años ya pronto a cumplir los 18 años y también de graduarme del colegio Claretiano de Bosa. Tengo una gran familia que me ha apoyado a pesar de mis errores, mi madre aquella que me enseño todos los valores que tengo hasta el momento, mi padre aquel que me enseño que siempre toca estar feliz y seguir adelante, gracia a ellos soy la persona de ahora. Me gusta mucho programar, ha sido una de la mejores decisiones estudiar programación, no ha sido un camino facíl, pero cada dia aprendo mas para poder llegar ser un gran programador </p>
</div>
<br><br><br><br><br><br><br><br><br>
<%- include('templates/footer'); %>  

</body>
</html>