<%- include('templates/header'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/laboral.css">
    <title>Experiencia Laboral</title>
</head>
<body>
    <br><br><br><br><br>
    <center>
        <h1>Experiencia Laboral</h1>
    </center>
    <br>
    <div class="expe">
        <p>Técnico en programación de software y bachiller egresado del
            Colegio Claretiano de Bosa. Capacitado con actitud y aptitud para
            la asistencia en la programación de software, realización de
            páginas web, desarrollo de bases de datos y manejo de diversos
            lenguajes de programación con versatilidad para manejar la
            tecnología.</p>
    </div>

    <br>
    <center>
        <h1>Lenjuagues de Programación</h1>
     </center>
     <div class="lenju">
        <div class="pruebap">
            <center><p>PHP</p></center><br>
            <center><img class="imagen" src="./static/img/PHP.jpeg" alt=""></center>
                <div class="hist">
                    <p>He realizado varios proyectos utilizando PHP, experencia en Laravel</p>
                </div>
        </div>
        
        <div class="pruebaj">
            <center><p>JavaScript</p></center>
            <center><img src="./static/img/js.png" alt=""></center>
            <div class="hist">
                <center>
                <p>Node JS</p>
            </center>
            </div>
        </div>
    
        <div class="pruebam">
            <center><p>MySql</p></center>
            <center><img src="./static/img/mysql.png" alt=""></center>
            <div class="hist">
                <p>Gestor de bases de datos preferido: MySql Woorbech</p>
            </div>
        </div>
     </div>
     
     <%- include('templates/footer'); %>  
</body>
</html>