<%- include('templates/header'); %>
<title>Perfil</title>
<link rel="stylesheet" type="text/css" href="../static/css/perfil.css">

<body>
    <br><br><br><br><br>
 <center>
    <h1>Perfil</h1>
 </center>
<br>
 <div class="foto">
    <center>
    <img src="./static/img/FOTO.jpeg" alt="">
    </center>
 </div>
 <br><br>
 <div class="perfil">
    <p>Soy una persona creativa, responsable y
        con capacidad de trabajar en equipo,
        tengo la facultad para enfrentar
        desafíos, en la empresa en la cual me
        vaya desempeñar, espero demostrar
        mis habilidades y conocimientos. Tengo
        un técnico en programación de software
        con la entidad SENA con conocimientos
        en:  HTML, CSS, JS, PHP, JAVA y MYSQL
        Actualmente me encuentro cursando el
        tecnólogo en análisis y desarrollo de
        sistemas de información, en el cual he
        obtenido conocimientos acerca del
        desarrollo de software.
        Como persona motivada y organizada,
        puedo ajustarme a cualquier situación y
        dar lo mejor de mí en cualquier proyecto
        y trabajo.</p>
 </div>
<br>


<div class="proyectos">
   <center><h1>Proyectos Realizados</h1></center>
   <br>
   <p>Sistema de información académica para la institución educativa Gustavo Campos Guevara</p>
   <br>
   <p>Sistema de información para la gestión de ventas a la empresa Infernum.sb</p>
</div>
<br><br>
<%- include('templates/footer'); %>  
</body>
</html>