<link rel="stylesheet" type="text/css" href="../static/css/footer.css">

    <footer>
        <div class="footer-content">
            <h3>JULIAN SANCHEZ</h3>
            <p>Hoja de vida</p>
            <ul class="socials">
                <li><a href="#"><img src="../static/img/github.png" alt=""></a></li>

            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021 <a href="#">Julian Sanchez</a>  </p>
                    <div class="footer-menu">
                      <ul class="f-menu">
                        

                      </ul>
                    </div>
        </div>

    </footer>

